* {
    margin: 0;

}

body{

    width: 800px;
    height: 800px;


}

.firstbox {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    position: relative;

    
}


.second {

    width: 200px;
    height: 200px;
    background-color: burlywood;
    position: absolute;
    right: 0;
    top: 0;


    

}

.third {

    width: 200px;
    height: 200px;
    background-color: rgb(79, 192, 79);
    position: fixed;
    left: 500px;



}